.btnUntis {
    -fx-background-image: url('images/webuntis.png');
    -fx-background-size: 64.0 64.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btnMoodle {
    -fx-background-image: url('images/moodle.png');
    -fx-background-size: 64.0 64.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btnMail {
    -fx-background-image: url('images/mail.png');
    -fx-background-size: 64.0 64.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btnWiki {
    -fx-background-image: url('images/wiki.png');
    -fx-background-size: 64.0 64.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btnExit {
    -fx-background-image: url('images/exit.png');
    -fx-background-size: 64.0 64.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
